* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-container {
  display: flex;
  max-width: 100%;
  flex-direction: row;
  text-align: center;

  border-bottom: 2px solid black;
  height: 80px;
}

.img-box1 img {
  width: 70px;
  height: 70px;
}
.img-box1 {
  display: flex;
  align-items: center;
  margin: 0;
}

.navinput {
  width: 500px;
  background-color: #b5d6f0;
}
/* .child-Container {
  display: flex;
} */
