* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-container {
  display: flex;
  max-width: 100%;
  flex-direction: row;
  text-align: center;

  /* border-bottom: 2px solid black; */
  height: 80px;
}

.img-box1 img {
  margin-left: 30px;
  width: 70px;
  height: 70px;
}
.img-box1 {
  display: flex;
  align-items: center;
  margin: 0;
}

.navinput {
  width: 700px;
  background-color: #b5d6f0;
  margin-left: 20rem;
  margin-top: 1.2rem;
  border-radius: 26px;
}

.Drive {
  font-size: 30px;
  color: #584a4a;
  margin-top: 24px;
  padding: 13px;
}

.main-icon {
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 38px;
}

.Question,
.setting {
  font-size: 20px;
}

/* profile hover  */

.icon-container {
  position: absolute;
  display: inline-block;
}

.ion {
  font-size: 24px;
  color: #333;
}

.hover-box {
  position: absolute;
  top: 4rem;
  z-index: 2;
  left: 40%;
  /* right: 20px; */
  transform: translate(-50%);
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  visibility: hidden;
  width: 250px;
  height: 80px;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
}

.icon-container:hover .hover-box {
  visibility: visible;
  opacity: 1;
}
