* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-container {
  display: flex;
  max-width: 100%;
  flex-direction: row;
  text-align: center;

  border-bottom: 2px solid black;
  height: 80px;
}

.img-box1 img {
  width: 70px;
  height: 70px;
}
.img-box1 {
  display: flex;
  align-items: center;
  margin: 0;
}

.navinput {
  width: 700px;
  background-color: #b5d6f0;
  margin-left: 20rem;
  margin-top: 2rem;
  border-radius: 26px;
}

.Drive {
  font-size: 30px;
  color: #584a4a;
  margin-top: 24px;
  padding: 13px;
}

.main-icon {
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 38px;
}

.Question,
.setting {
  font-size: 20px;
}
