* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Example of adjusting styles for Home component */
.heading {
  text-align: center;
  margin-top: 2rem;
}

.main-div {
  padding: 2rem;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 2rem;
  max-width: 130rem;
  position: relative;
  left: 29rem;
  height: 88vh;
}

@media screen and (min-width: 1440px) {
  .main-div {
    max-width: 140rem;
    height: 90vh;
  }
}
