* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Example of adjusting styles for Home component */
.heading {
  text-align: center;
  margin-top: 2rem;
}

.main-div {
  padding: 2rem;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 2rem;
  max-width: 130rem;
  position: relative;
  left: 29rem;
  height: 88vh;
}
.scroll-div {
  padding: 2rem;
  background-color: #f5f5f5;

  border: 1px solid #ddd;
  /* border-radius: 2rem; */
  max-width: 120rem;
  position: relative;
  left: 2rem;
  height: 70vh;
  top: 7rem;
  overflow: scroll;
  border: none;
  border-top: 1px solid #857d7d;
  /* scrollbar-width: 50px; /* For Firefox */
  /* width: 50px; For webkit-based browsers */
  /* Color of the scrollbar track */
  /* scrollbar-color: gold; */
}

/* Target the scrollbar for .scroll-div */
.scroll-div::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

/* Track (the area behind the scrollbar) */
.scroll-div::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

/* Handle (the draggable part of the scrollbar) */
.scroll-div::-webkit-scrollbar-thumb {
  background: gold; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Rounded corners */
}

/* Handle on hover */
.scroll-div::-webkit-scrollbar-thumb:hover {
  background: darkgoldenrod; /* Color of the scrollbar thumb on hover */
}

@media screen and (min-width: 1440px) {
  .main-div {
    max-width: 140rem;
    height: 90vh;
  }
}
@media screen and (min-width: 1243px) {
  .main-div {
    max-width: 128rem;
    height: 88vh;
  }
}
