* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  width: 300px;
  height: 88vh;
  display: flex;
  flex-direction: column;
  /* background: #e5e5e5; */
  /* border-right: 2px solid #000; */
  position: absolute;
}

.add {
  margin-top: 10px;
}

.add-new {
  width: 150px;
  height: 60px;
  display: flex;
  padding: 10px;
  font-size: 2rem;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.add-new p,
ion-icon {
  margin-right: 1px;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 2.4rem;
}

.add-new:hover {
  background: #343434;
  color: #ffffff;
}

.home {
  margin-bottom: 20px;
}

.starred {
  margin-bottom: 20px;
}

.home,
.shared,
.recent,
.starred,
.spam,
.trash {
  display: flex;
  margin-left: 10px;
  cursor: pointer;
  font-weight: 700;
}

.home ion-icon,
.shared ion-icon,
.recent ion-icon,
.starred ion-icon,
.spam ion-icon,
.trash ion-icon {
  margin-right: 30px;
  font-size: 3rem;
  margin-top: 20px;
  margin-left: 10px;
}

.home p,
.shared p,
.recent p,
.starred p,
.spam p,
.trash p {
  font-size: 2.4rem;
  margin-top: 20px;
}

.home:hover,
.shared:hover,
.recent:hover,
.starred:hover,
.spam:hover,
.trash:hover {
  background: #fefefe;
  transition: 0.5s all linear;
  border-radius: 10px;
}
